<h1>
  Real-time web application
</h1>

<table>
    <tbody id="issue-list">
        {{#if viewData}}
        {{#each viewData}}
        {{#if this.state}}
        <tr id="nr{{this.iid}}">
            <td><p>#{{this.iid}} {{this.title}}</p></td>
            <td>
<form method="post" action="./{{this.iid}}/reopen">
 <input type="hidden" name="_method" value="put">
<input type="hidden" name="id" value="{{this.iid}}" />
  <button type="submit">Reopen</button>
</form>
            </td>
        </tr>
        {{else}}
        <tr id="nr{{this.iid}}">
            <td><p>#{{this.iid}} {{this.title}}</p></td>
            <td>
                <form method="put" action="./{{this.iid}}/close">
                 <input type="hidden" name="_method" value="put">
<input type="hidden" name="id" value="{{this.iid}}" />
  <button type="submit">Close</button>
</form>
            </td>
        </tr>
        {{/if}}
        {{/each}}
        {{/if}}
    </tbody>
</table>


<template id="issue-template">   
      \{{#if this.state}}
        <tr>
            <td><p>#\{{this.iid}} \{{this.title}}</p></td>
            <td>
                <a href=""><span>Reopen</span></a>
            </td>
        </tr>
        \{{else}}
        <tr>
            <td><p>#\{{this.iid}} \{{this.title}}</p></td>
            <td>
                <a href=""><span>Close</span></a>
            </td>
        </tr>
      \{{/if}}
</template>


    
