<h1>
  Real-time web application
</h1>

<table id="issue-list">
        {{#if viewData}}
        {{#each viewData}}
        {{#if this.state}}
        <tr>
          <td>
            <img src="{{this.avatar}}" alt="avatar" width="30" height="30">
          </td>
        </tr>
    <tbody id="nr{{this.iid}}" class="closed-issue">
        <tr>
            <td class="issue-title"><p>#{{this.iid}} {{this.title}}</p></td>
            <td>
              <form method="post" action="./{{this.iid}}/reopen">
              <input type="hidden" name="id" value="{{this.iid}}" />
                <button type="submit">Reopen</button>
              </form>
            </td>
        </tr>
        <tr>
          <td><p>{{this.description}}</p></td>
        </tr>
        </tbody>
        {{else}}
          <tr>
          <td>
            <img src="{{this.avatar}}" alt="avatar" width="30" height="30">
          </td>
        </tr>
 <tbody id="nr{{this.iid}}" class="opened-issue">
        <tr id="nr{{this.iid}}">
            <td class="issue-title"><p>#{{this.iid}} {{this.title}}</p></td>
            <td>
                <form method="post" action="./{{this.iid}}/close">
                <input type="hidden" name="id" value="{{this.iid}}" />
                  <button type="submit">Close</button>
                </form>
            </td>
        </tr>
         <tr>
          <td><p>{{this.description}}</p></td>
        </tr>
    </tbody>
      {{/if}}
        {{/each}}
        {{/if}}
</table>


<template id="issue-template">   
      \{{#if this.state}}
      <tbody id="nr\{{this.iid}}" class="closed-issue">
        <tr>
            <td class="issue-title"><p>#\{{this.iid}} \{{this.title}}</p></td>
            <td>
              <form method="post" action="./\{{this.iid}}/reopen">
              <input type="hidden" name="id" value="\{{this.iid}}" />
                <button type="submit">Reopen</button>
              </form>
            </td>
        </tr>
        <tr>
          <td><p>\{{this.description}}</p></td>
        </tr>
        </tbody>
        \{{else}}
         <tbody id="nr\{{this.iid}}" class="opened-issue">
        <tr>
            <td class="issue-title"><p>#\{{this.iid}} \{{this.title}}</p></td>
            <td>
                <form method="post" action="./\{{this.iid}}/close">
                <input type="hidden" name="id" value="\{{this.iid}}" />
                  <button type="submit">Close</button>
                </form>
            </td>
        </tr>
         <tr>
          <td><p>\{{this.description}}</p></td>
        </tr>
        </tbody>
      \{{/if}}
</template>


    
