<h1>
  Real-time web application
</h1>

<table>
    <tbody id="issue-list">
        {{#if viewData}}
        {{#each viewData}}
        {{#if this.state}}
        <tr id="nr{{this.iid}}">
            <td><p>#{{this.iid}} {{this.title}}</p></td>
            <td>
                <a href=""><span>Reopen</span></a>
            </td>
        </tr>
        {{else}}
        <tr id="nr{{this.iid}}">
            <td><p>#{{this.iid}} {{this.title}}</p></td>
            <td>
                <a href=""><span>Close</span></a>
            </td>
        </tr>
        {{/if}}
        {{/each}}
        {{/if}}
    </tbody>
</table>


<template id="issue-template">   
      \{{#if this.state}}
        <tr>
            <td><p>#\{{this.iid}} \{{this.title}}</p></td>
            <td>
                <a href=""><span>Reopen</span></a>
            </td>
        </tr>
        \{{else}}
        <tr>
            <td><p>#\{{this.iid}} \{{this.title}}</p></td>
            <td>
                <a href=""><span>Close</span></a>
            </td>
        </tr>
      \{{/if}}
</template>


    
